.contacts {
    padding-top: 140px;
}

.contacts__left {
    width: calc(50% - 20px);
    padding-top: 40px;
    padding-left: 120px;
}
.contacts__right {
    width: calc(50% - 20px);
    padding-right: 120px;
}

.contacts__container {
    display: flex;
    justify-content: space-between;
}
.contacts__title {
    margin-bottom: 32px;
font-size: 30px;
line-height: 38px;
color: #2F2222;
}
.contacts-for-wrapper {
    padding: 40px 60px;
    background: #FFFFFF;
box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
border-radius: 20px;
}
.phone--contacts {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 400;
}

.address{
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    padding-left: 25px;
    color: var(--accent-color);
}
.social {
    display: flex;
    align-items: center;
}
.social__item:not(:last-child) {
    margin-right: 20px;
}

.social__link {
    display: block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.social__link--fb {
    background-image: url(/img/fb.svg);
}
.social__link--vk {
    background-image: url(/img/vk.svg);
}
.social__link--inst {
    background-image: url(/img/Instagram.svg);
}
.social__link--tw {
    background-image: url(/img/Twitter.svg);
}

.callback-form__input {
    margin-bottom: 20px;
}

.callback-form__textearea {
    resize: none;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 81px;
}